* {
    border: 0px;
    margin: 0px;
    outline: none;
    font-family: EarlyGameboy;
}

body {
    background-color: rgb(0, 0, 0);
}

.aCenter {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.px-rendering {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#menu {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.m-btn {
    color: rgb(243, 239, 239);
    background-color: transparent;
    font-size: 27px;
    margin-top: 50px;
    word-break: break-all;
    cursor: pointer;
}

.m-btn:hover {
    color: rgb(131, 131, 130);
}

.title {
    font-size: 70px;
}

#rock {
    color: rgb(170, 136, 73);
}

#tok {
    color: rgb(23, 112, 23);
}

#worldSelector {
    margin-top: 40px;
    color: white;
    border: 8px solid rgb(128, 92, 45);
    width: 70vw;
    height: 70vh;
    font-size: 27px;
    display: flex;
    flex-direction: column;
}

.WorldBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

#newWorldBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.world {
    cursor: pointer;
    text-align: left;
    padding: 20px;
    background: rgb(24, 23, 23);
    display: flex;
    justify-content: space-between;
}

.world:hover {
    background: rgb(39, 37, 37);
    color: rgba(114, 114, 114, 0.856);
}

#worlds {
    flex-grow: 1;
    overflow-y: scroll;
}

#worlds::-webkit-scrollbar {
    display: none;
}

#worlds {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.deleteButton {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    padding: 8px;
}

.deleteButton:hover {
    background: rgba(241, 52, 52, 0.836);
}

#game-ui {
    color: black;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: url("/assets/rockTexture.png");
    background-size: 128px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 15%;
    width: 100vw;
}

#game-ui {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
}

#game-ui img {
    vertical-align: middle;
}

#selectedItem {
    background: rgba(99, 99, 99, 0.603);
}

#inventory {
    position: absolute;
    width: 50vw;
    height: 70vh;
    z-index: 99999;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    border: 5px solid black;
    border-radius: 2px;
    background: rgb(230, 202, 80);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#inventory::-webkit-scrollbar {
    display: none;
}

.m-text {
    margin: 10px;
    color: black;
    font-size: 22px;
}

.item-slot {
    height: 8vh;
    width: 100%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#item-container {
    align-items: center;
    justify-items: center;
}

.item-slot-container {
    display: flex;
    align-items: center;
}

.flip {
    transform: scaleX(-1);
}

.s-arrow {
    width: 6%;
}

.item-slot-text {
    font-size: 24px;
    margin-left: 25px;
}

.item-slot-icon {
    width: 48px;
    height: 48px
}

#characterCreator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#arrowContainer {
    flex-direction: row;
}

.character-creator-arrow {
    width: 70px;
    cursor: pointer;
    user-select: none;
}

.character-creator-arrow:hover {
    transform: translateY(2px);
}

.character-creator-arrow:active {
    transform: translateY(4px);
}

.character-creator-arrow-flip {
    width: 70px;
    cursor: pointer;
    user-select: none;
    transform: scaleX(-1);
}

.character-creator-arrow-flip:hover {
    transform: translateY(2px) scaleX(-1);
}

.character-creator-arrow-flip:active {
    transform: translateY(4px) scaleX(-1);
}

#characterCreatorTitle {
    color: white;
    font-size: 30px;
}

#characterDisplay {
    width: 20vw;
}