* {
    border: 0px;
    margin: 0px;
    outline: none;
    font-family: EarlyGameboy;
}

body {
    background-color: rgb(0, 0, 0);
}

.aCenter {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.m-btn {
    color: rgb(243, 239, 239);
    background-color: transparent;
    cursor: pointer;
    font-size: 27px;
    margin-top: 50px;
    word-break: break-all;
}

.m-btn:hover {
    color: rgb(131, 131, 130);
}

.title {
    font-size: 70px;
}

#rock {
    color: rgb(170, 136, 73);
}

#tok {
    color: rgb(23, 112, 23);
}

#worldSelector {
    margin-top: 40px;
    color: white;
    border: 8px solid rgb(128, 92, 45);
    width: 70vw;
    height: 70vh;
    font-size: 27px;
    display: flex;
    flex-direction: column;
}

.WorldBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

#newWorldBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.world {
    cursor: pointer;
    text-align: left;
    padding: 20px;
    background: rgb(24, 23, 23);
    display: flex;
    justify-content: space-between;
}

.world:hover {
    background: rgb(39, 37, 37);
    color: rgba(114, 114, 114, 0.856);
}

#worlds {
    flex-grow: 1;
    overflow-y: scroll;
}

#worlds::-webkit-scrollbar {
    display: none;
}

#worlds {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.deleteButton {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    padding: 8px;
}

.deleteButton:hover {
    background: rgba(241, 52, 52, 0.836);
}

#game-ui {
    color: black;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: url("/assets/rockTexture.png");
    background-size: 128px;
    image-rendering: pixelated;
    height: 15%;
    width: 100vw;
}

#game-ui {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
}

#game-ui img {
    vertical-align: middle;
}

#selectedItem {
    background: rgba(99, 99, 99, 0.603);
}

#inventory {
    background: url("/assets/rockTexture.png");
    background-size: 128px;
    image-rendering: pixelated;
    position: absolute;
    width: 40vw;
    z-index: 99999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.m-text {
    margin: 10px;
    color: black;
    font-size: 22px;
}

.item-slot {
    width: 100%;
    padding-bottom: 100%;
    background: red;
}

#item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}